.signup-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.container{
    width: 80%;
}

.red-text {
    color: red;
}

.text-left {
    text-align: left;
}